<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<title>Konstantin Shenderov - Admin panel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- libraries:css -->
<!-- endinject -->
<!-- inject:css -->
<!-- endinject -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/npm i font-awesome.min.css">-->
<!--<link href="css/style.css" rel="stylesheet">-->
<body class="w3-light-grey" ng-controller="MainController">
<div class="alert-main w3-container w3-animate-opacity w3-center" ng-class="mainAlert.className" ng-show="mainAlert.shown">
    <p title="{{mainAlert.message}}">{{mainAlert.message}}</p>
</div>
<!-- Top container -->
<div id="navbar" class="w3-bar w3-top w3-blue w3-large" style="z-index:4">
    <span class="w3-bar-item w3-right">shenderov.me</span>
</div>
<div class="banner w3-container w3-animate-opacity w3-center" ng-class="banner.className" ng-show="banner.shown">
    <span ng-click="discardBanner()" class="w3-button w3-small w3-display-topright">&times;</span>
    <p title="{{banner.message}}">{{banner.message}}</p>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-opacity" style="z-index:3;width:300px;" id="mySidebar">
    <div class="nav-user-profile w3-container w3-row">
        <div class="w3-col s8 w3-bar">
            <span>Welcome, <strong>{{userInfo.name}}</strong></span><br>
            <a ng-href="#!/editUser/{{userInfo.username}}" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a ng-href="#!/settings" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            <a ng-click="logout()" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-bar-block">
        <a ng-href="#!/" class="w3-bar-item w3-button w3-padding" ng-class="{'w3-blue' : viewData.header == 'Dashboard'}"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
        <a ng-href="#!/users" class="w3-bar-item w3-button w3-padding" ng-class="{'w3-blue' : viewData.header == 'Users'}"><i class="fa fa-address-book fa-fw"></i>  Users</a>
        <a ng-href="#!/messages" class="w3-bar-item w3-button w3-padding" ng-class="{'w3-blue' : viewData.header == 'Messages'}"><i class="fa fa-envelope fa-fw"></i>  Messages<span class="w3-badge w3-small w3-red w3-margin-left" ng-if="newMessagesCount != 0">{{newMessagesCount}}</span></a>
        <a ng-href="#!/blocks" class="w3-bar-item w3-button w3-padding" ng-class="{'w3-blue' : viewData.header == 'Blocks'}"><i class="fa fa-columns fa-fw"></i>  Blocks</a>
        <a ng-href="#!/seo" class="w3-bar-item w3-button w3-padding" ng-class="{'w3-blue' : viewData.header == 'Seo'}"><i class="fa fa-search fa-fw"></i>  Seo</a>
        <a ng-href="#!/settings" class="w3-bar-item w3-button w3-padding" ng-class="{'w3-blue' : viewData.header == 'Settings'}"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
    </div>
    <div class="nav-footer" ng-show="version">
        <p>Version: {{version}}</p>
    </div>
</nav>

<!-- !PAGE CONTENT! -->

<div class="w3-main main-view w3-animate-opacity" ng-class="banner.shown ? 'main-view-banner' : ''">
    <div class="alert-view w3-container w3-animate-opacity" ng-class="viewAlert.className" ng-show="viewAlert.shown">
        <p title="{{viewAlert.message}}">{{viewAlert.message}}</p>
    </div>
    <!-- Header -->
    <header class="w3-container main-view-header">
        <h5><b><i class="fa {{viewData.icon}}"></i> {{viewData.header}}</b></h5>
    </header>
    <div class="w3-container">
        <ng-view/>
    </div>
</div>
<script src="config/config.js"></script>
<!-- libraries:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
