<div class="container w3-margin-bottom">
    <button class="w3-button w3-blue" ng-click="getAllMessages()"><i class="fa fa-refresh"></i></button>
    <button class="w3-button w3-white" ng-click="selectedMessages.length !== 0 && readMessages()" ng-class="{'w3-disabled' : selectedMessages === undefined || selectedMessages.length == 0}">Mark As Read</button>
    <button class="w3-button w3-amber" ng-click="selectedMessages.length !== 0 && deleteMessages()" ng-class="{'w3-disabled' : selectedMessages === undefined || selectedMessages.length == 0}">Delete Selected</button>
    <button class="w3-button w3-red" ng-click="messages.length !== 0 && deleteAllMessages()" ng-class="{'w3-disabled' : messages === undefined || messages.length == 0}">Delete All</button>
</div>
<table id="message-table" class="w3-table-all w3-hoverable w3-margin-bottom" ng-if="messages.length != 0">
    <thead>
    <tr class="w3-blue">
        <th><label><input type="checkbox" title="Select All" ng-model="selectAll" ng-change="setSelectAll(selectAll)"></label></th>
        <th>Status</th>
        <th>Name</th>
        <th>Date</th>
    </tr>
    </thead>
    <tr ng-repeat="m in messages">
        <td><label><input type="checkbox" ng-checked="selectedMessages.includes(m.uuid)" ng-model="picked" ng-change="sync(m, picked)"></label></td>
            <td ng-click="openModal($index)">{{m.status}}</td>
            <td ng-click="openModal($index)">{{m.message.name}}</td>
            <td ng-click="openModal($index)">{{m.timestamp | date:'dd/MM/yyyy HH:mm'}}</td>
    </tr>
</table>
<div class="w3-panel w3-white" ng-if="messages.length == 0">
    <p>No messages</p>
</div>
<div class="w3-modal" ng-if="modalOpen" style="display: block">
    <div class="w3-modal-content w3-animate-opacity">
        <header class="w3-container w3-blue">
        <span ng-click="closeModal()" class="w3-button w3-display-topright">&times;</span>
            <h2>From: {{currentMessage.message.message.name}}</h2>
        </header>
        <div class="w3-container">
            <table class="w3-table w3-margin-bottom">
                <tr>
                    <td>UUID:</td>
                    <td>{{currentMessage.message.uuid}}</td>
                </tr>
                <tr>
                    <td>Date:</td>
                    <td>{{currentMessage.message.timestamp | date:'dd/MM/yyyy HH:mm'}}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{currentMessage.message.status}}</td>
                </tr>
                <tr>
                    <td>Delivery Status:</td>
                    <td>{{currentMessage.message.deliveryStatus}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{currentMessage.message.message.email}}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{currentMessage.message.message.phone}}</td>
                </tr>
                <tr>
                    <td>Message:</td>
                    <td>{{currentMessage.message.message.message}}</td>
                </tr>
            </table>
        </div>
        <footer class="w3-container w3-blue w3-padding w3-right-align">
            <button class="w3-button w3-white" ng-click="closeModal()">Close</button>
            <button class="w3-button w3-red" ng-click="deleteCurrentMessage()">Delete</button>
        </footer>
    </div>
</div>