<div id="about-block-form">
    <div class="w3-row-padding">
        <div class="w3-col" id="about-block-form-name-field">
            <label>Name:</label>
            <input class="w3-input w3-border" type="text" ng-model="block.name">
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-col" id="about-block-form-position-field">
            <label>Position Name:</label>
            <input class="w3-input w3-border" type="text" ng-model="block.positionName">
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-col" id="about-block-form-description-field">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="w3-input w3-border" type="text" ng-model="block.description" rows="8"></textarea>
        </div>
    </div>
    <div id="about-block-form-contacts-list">
        <h6 class="w3-margin-left w3-margin-top"><strong>Contacts:</strong></h6>
        <div class="w3-row-padding generic-element-container element-container" ng-repeat="c in block.contacts" data-ng-init="sortPositionedArray(block.contacts)">
            <div class="w3-quarter position-selector">
                <span><i class="fa fa-close" ng-click="deletePositionedArrayRow(block.contacts, $index)"></i></span>
                <span class="position-input">
            <label>Position:</label>
            <input class="w3-input" type="number" ng-model="c.position" disabled>
        </span>
                <span><i class="fa fa-arrow-up" ng-click="moveUp(block.contacts, $index)"></i></span>
                <span><i class="fa fa-arrow-down" ng-click="moveDown(block.contacts, $index)"></i></span>
            </div>
            <div class="w3-quarter generic-element-label-field element-label-field">
                <label>Label:</label>
                <input class="w3-input w3-border" type="text" ng-model="c.label">
            </div>
            <div class="w3-rest generic-element-value-field element-value-field">
                <label>Value:</label>
                <input class="w3-input w3-border" type="text" ng-model="c.value">
            </div>
        </div>
        <span>
        <button class="w3-button w3-border w3-white generic-element-add-button element-add-button" ng-click="block.contacts.push({position: block.contacts.length+1, iconClass: null, label: null, value: null})">Add...</button>
    </span>
    </div>
    <div id="about-block-form-media-links-list">
        <h6 class="w3-margin-left w3-margin-top"><strong>Media Links:</strong></h6>
        <div class="w3-row-padding generic-element-container" ng-repeat="l in block.mediaLinks" data-ng-init="sortPositionedArray(block.mediaLinks)">
            <div class="w3-quarter position-selector">
                <span><i class="fa fa-close" ng-click="deletePositionedArrayRow(block.mediaLinks, $index)"></i></span>
                <span class="position-input">
            <label>Position:</label>
            <input class="w3-input" type="number" ng-model="l.position" disabled>
        </span>
                <span><i class="fa fa-arrow-up" ng-click="moveUp(block.mediaLinks, $index)"></i></span>
                <span><i class="fa fa-arrow-down" ng-click="moveDown(block.mediaLinks, $index)"></i></span>
            </div>
            <div class="w3-quarter generic-element-icon-class-field element-icon-class-field">
                <label>Icon Class:</label>
                <input class="w3-input w3-border" type="text" ng-model="l.iconClass">
            </div>
            <div class="w3-quarter generic-element-label-field element-label-field">
                <label>Label:</label>
                <input class="w3-input w3-border" type="text" ng-model="l.label">
            </div>
            <div class="w3-rest generic-element-value-field element-value-field">
                <label>Value:</label>
                <input class="w3-input w3-border" type="text" ng-model="l.value">
            </div>
        </div>
        <span>
    <button class="w3-button w3-border w3-white generic-element-add-button element-add-button" ng-click="block.mediaLinks.push({position: block.mediaLinks.length+1, iconClass: null, label: null, value: null})">Add...</button>
</span>
    </div>
    <div id="about-block-form-picture-selector">
        <h6 class="w3-margin-left w3-margin-top"><strong>Profile Picture:</strong></h6>
        <div class="w3-row-padding">
            <div class="w3-half">
                <label>Photo:</label>
                <input class="w3-input w3-border" type="text" ng-model="block.photo" style="margin-bottom: 20px">
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-half">
<!--                <div class="w3-center profile-image-placeholder" ng-if="!block.photo">-->
                <div class="w3-center profile-image-placeholder">
                    <i class="fa fa-5x fa-picture-o w3-center"></i>
                    <h5><strong>No Picture</strong></h5>
                </div>
<!--                <div ng-if="block.photo">-->
<!--                    <img src="../../img/{{block.photo}}" style="width: 250px">-->
<!--                </div>-->
                <button ng-click="" type="button" class="w3-button w3-blue w3-margin-top">Change Picture...</button>
            </div>
            <!--    <div class="w3-quarter">-->
            <!--        <input type="file" id="myFile" name="filename">-->
            <!--    </div>-->
            <!--    <div class="w3-rest">-->
            <!--        <input type="submit">-->
            <!--    </div>-->
        </div>
    </div>
</div>